<a href="https://colab.research.google.com/github/Yujin726/0624/blob/main/6_23_colab_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩 테스트

구문 실행

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

Python 버전 확인

In [3]:
import sys

print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

다중줄 주석

In [4]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

변수_생성

In [5]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

변수_이름

In [6]:
myvar = "Jin"
my_var = "Jin"
_my_var = "Jin"
myVar = "Jin"
MYVAR = "Jin"
myvar2 = "Jin"
print(myvar)
print(my_var)
print(_my_var)

Jin
Jin
Jin

변수_여러 값 할당

In [7]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

변수_하나의 값을 여러 변수에

In [8]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

출력 변수

In [9]:
x = "Python is awesome"
print(x)

Python is awesome

+연산자 사용 -> 여러 변수 출력

In [10]:
x = "Kwak "
y = "Yu "
z = "Jin"
print(x + y + z)

Kwak Yu Jin

+연산자 사용 -> 숫자 예시 (합)

In [11]:
x = 5
y = 10
print(x + y)

15

전역 변수

In [12]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

함수 내 전역 변수 값 변경 global 키워드

In [13]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

변수 연습 (수업 이후)

데이터 유형 및 데이터 유형 *가져오기*

텍스트 유형:	str
숫자형 유형:	int, float, complex
시퀀스 유형:	list, tuple, range
매핑 유형:	dict
세트 유형:	set,frozenset
부울 유형:	bool
이진 유형:	bytes, bytearray, memoryview
없음 유형:	NoneType

In [14]:
x = 5
print(type(x))

<class 'int'>

데니터 유형 설정

In [15]:
x = "Hello World"

특정 데이터 유형 설정

1. str
2. int
3. float
4. complex

In [16]:
x = str("Hello World")	str	Try it »
x = int(20)	int	Try it »
x = float(20.5)	float	Try it »
x = complex(1j)

SyntaxError: invalid character '»' (U+00BB) (ipython-input-16-796352190.py, line 1)